/* You can add global styles to this file, and also import other style files */
@import url("bootstrap/dist/css/bootstrap.min.css");
body{
  font-family: 'Roboto', sans-serif;
}
#app{
  text-align: center;
  display: block;
  gap: 30px;
}

#global-title{
  font-size: 60px;

}


